@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import '_variables.scss';

@font-face {
    font-family: slamby-logo;
    src: url('/slamby-logo.woff');
}

body {
    @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,500');
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.44em;
}

h1, h2, h3, h4 { font-weight: 300; }

p, p.lead {
    color: #303030;
}

p { font-weight: 200; }

p.lead { font-weight: 200; }

.btn-talelf {
    color: #fff;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;

    font-weight: 400;
    border-radius: 2px;
}